{% extends 'base.html' %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users"><i class="bi bi-people"></i> Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/add"><i class="bi bi-person-plus-fill"></i> Add User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/blocked"><i class="bi bi-person-x"></i> Blocked Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </li>
{% endblock %}
