{% extends 'base.html' %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="/employee/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/customers"><i class="bi bi-people"></i> Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/customers/add"><i class="bi bi-person-plus-fill"></i> Add Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </li>
{% endblock %}
