{% extends 'base_admin.html' %}
{% block content %}

<div class="page-header-box">
    <h2>Delete User</h2>
</div>

<div class="search-wrapper">
    <div class="search-container">
        <input type="text" placeholder="🔍 Search">
    </div>
</div>

<form action="{{ url_for('process_delete_user') }}" method="POST">
    
    <div class="custom-form-container delete-container-box">
        <div class="delete-header-row">
            <span>User Name</span>
            <span class="delete-checkbox-wrapper">Select</span>
        </div>

        {% for user in users %}
        <div class="delete-item-row">
            <span style="font-weight: 500;">{{ user.username }} ({{ user.role }})</span>
            <div class="delete-checkbox-wrapper">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" class="delete-checkbox">
            </div>
        </div>
        {% else %}
        <div class="delete-item-row">
            <span>No users found.</span>
        </div>
        {% endfor %}
    </div>

    <div class="btn-container-center">
        <button type="submit" class="btn-figma">Confirm</button>
    </div>

</form>
{% endblock %}