{% extends 'base_employee.html' %}
{% block content %}

<div class="page-header-box">
    <h2>Delete Customer</h2>
</div>

<div class="container mb-3 search-wrapper">
    <div class="search-container">
        <input type="text" placeholder="🔍 Search">
    </div>
</div>

<form action="/manage/delete/process" method="POST">
    
    <div class="custom-form-container delete-container-box">
        <div class="delete-header-row">
            <span>Customer Name</span>
            <span class="delete-checkbox-wrapper">Select</span>
        </div>

        {% for customer in customers %}
        <div class="delete-item-row">
            <span style="font-weight: 500;">{{ customer.name }}</span>
            <div class="delete-checkbox-wrapper">
                <input type="checkbox" name="customer_ids" value="{{ customer.id }}" class="delete-checkbox">
            </div>
        </div>
        {% else %}
        <div class="delete-item-row">
            <span>No customers found.</span>
        </div>
        {% endfor %}
    </div>

    <div class="btn-container-center">
        <button type="submit" class="btn-figma">Confirm</button>
    </div>

</form>
{% endblock %}