{% extends 'base_employee.html' %}
{% block content %}

<div class="d-flex flex-column align-items-center mt-4">
    
    <div class="mb-4 text-center">
        <div class="page-header-box" style="width: 300px; margin-bottom: 20px; background-color: #D1F8FF;">
            <h2>Dashboard</h2>
        </div>
        
        <div class="page-header-box" style="width: 300px; background-color: #D1F8FF;">
            <h2>Activity</h2>
        </div>
    </div>

    <div class="dashboard-table-container">
        <div class="dash-header">Customers Contacted</div>
        <div class="dash-row">
            <div class="dash-col">
                <span class="dash-label">Today</span>
                {{ stats.contacts_today }}
            </div>
            <div class="dash-col">
                <span class="dash-label">Last week</span>
                {{ stats.contacts_week }}
            </div>
            <div class="dash-col">
                <span class="dash-label">Last month</span>
                {{ stats.contacts_month }}
            </div>
        </div>
    </div>

    <div class="dashboard-table-container">
        <div class="dash-header">Customers Added</div>
        <div class="dash-row">
            <div class="dash-col">
                <span class="dash-label">This week</span>
                10 </div>
            <div class="dash-col">
                <span class="dash-label">This month</span>
                39 </div>
            <div class="dash-col">
                <span class="dash-label">Total</span>
                {{ stats.total_customers }}
            </div>
        </div>
    </div>

</div>
{% endblock %}