{% extends 'base_manager.html' %}
{% block content %}

<div class="manager-btn-container">
    
    <div class="manager-header-btn" style="cursor: default; margin-bottom: 40px;">
        <h2>Dashboard</h2>
    </div>
    
    <div class="manager-stats-box">
        <div class="manager-stat-row">
            <div class="stat-label">Active Customers</div>
            <div class="stat-value">1080</div>
        </div>
        <div class="manager-stat-row">
            <div class="stat-label">Lead Customers</div>
            <div class="stat-value">302</div>
        </div>
        <div class="manager-stat-row">
            <div class="stat-label">Non-Active Customers</div>
            <div class="stat-value">217</div>
        </div>
        <div class="manager-stat-row">
            <div class="stat-label">Cancelled Customers</div>
            <div class="stat-value">156</div>
        </div>
    </div>

</div>
{% endblock %}