{% extends 'base_employee.html' %}
{% block content %}

<div class="page-header-box">
    <h2>Update Customer</h2>
</div>

<div class="container mb-3" style="max-width: 400px;">
    <div class="search-container">
        <input type="text" placeholder="🔍 Search">
    </div>
</div>

<div class="custom-form-container">
    <form action="#" method="POST"> <div class="form-row">
            <div class="form-label">Name</div>
            <div class="form-input">
                <input type="text" placeholder="Type">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Phone</div>
            <div class="form-input">
                <input type="text" placeholder="Type">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Email</div>
            <div class="form-input">
                <input type="email" placeholder="Type">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Date</div>
            <div class="form-input">
                <input type="text" placeholder="dd/mm/yyyy">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Address</div>
            <div class="form-input">
                <input type="text" placeholder="Type">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Profession</div>
            <div class="form-input">
                <input type="text" placeholder="Type">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">Revenue</div>
            <div class="form-input">
                <input type="text" placeholder="Type">
            </div>
        </div>

        <div class="text-center mt-4 mb-5">
            <button class="btn-figma" type="submit">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}